/* Fullscreen layout for Reset Password Container */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

.form-container {
  width: 400px; 
  padding: 25px;   
  background-color: white; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
  text-align: center;
  margin: auto;     
  position: absolute; 
  top: 40%;           
  left: 50%;         
  transform: translate(-50%, -50%); 
  height: auto;      
}

/* Form title styling */
.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
}

/* Input styling */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #555;
}

.input-container {
  position: relative;
  font-size: 1.2rem;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Eye icon button styling */
.eye-icon {
  position: absolute;
  right: 20px;
  top: 17%; 
  border: none;
  background: none;
  cursor: pointer;
}

/* Submit Button */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #19ba21;
}

div[ngIf="message"] {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

/* Custom footer styles */
footer {
  background-color: #343a40;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer a {
  color: #11d038ac;
  text-decoration: none;
}

footer a:hover {
  color: #f8f9fa;
}

footer p {
  margin: 0;
}

.footer-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1rem;
}

.footer-icons a:hover {
  color: #11d038ac;
}

.contact-info {
  text-align: left;
  margin-top: 10px;
}

.contact-title {
  padding: 0 25%;
  border-bottom: 2px solid;
  margin-bottom: 10px;
}
